h1,
h3,
.main {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  text-align: right;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
}

.footer-placeholder {
  width: 100%;
}

.footer,
.footer-placeholder {
  padding: 16px;
  box-sizing: border-box;
}

.main > *:not(:last-child) {
  margin-bottom: 8px;
}

.link.link {
  width: fit-content;
  margin: auto auto;
  margin-bottom: 24px;
}

body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #181818;
  color: #eee;
  font-family: "Inconsolata", monospace;
}

a {
  color: lightgreen;
}

a:visited {
  color: lightgreen;
}

.js-link {
  color: lightgreen;
  cursor: pointer;
  text-decoration: underline;
}

.error {
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 4px;
  color: #eee;
}

.code {
  width: 600px;
  overflow: auto;
  background-color: #222;
  padding: 12px;
}

.source-header {
  margin-top: 52px;
}
