<!DOCTYPE html>
<html>
  <head>
    <title>Solutions for Advent of Code 2021</title>
    <link href="index.css" rel="stylesheet" />
    <link rel="shortcut icon" href="https://adventofcode.com/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <h1>
        Solutions for
        <a target="_blank" href="https://adventofcode.com/2021"
          >Advent of Code 2021</a
        >
      </h1>
      <ul>
        {{ #days }} {{ ^underConstruction }}
        <li><a href="day-{{index}}.html">{{name}}</a></li>
        {{ /underConstruction }} {{ #underConstruction }}
        <li>{{name}} (UNDER CONSTRUCTION)</li>
        {{ /underConstruction }} {{ /days }}
      </ul>
    </div>
  </body>
</html>
